html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-size: 1.1em;
}

#container {
    background: url(photos/middle-earth-4760561_1920.jpg);
    background-size: contain;
    padding: 1px;
    text-align: center;
}

.navbar {
    margin-inline: 20px;
    --bs-navbar-color: black;
}

.nav-link:hover {
    color: rgb(26, 10, 90);
}

header {
    margin: 20px;
}

.section-header {
    color: rgb(26, 10, 90);
}

a:hover {
    color: #336c6f
}

.glass {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.65);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.46);
}

#header-content {
    margin: 3.1% auto;
    padding: 2%;
}

header img {
    width: 100%;
    border: 10px solid rgba(0, 0, 0, 0);
}

@media (max-width: 767px) {
    header img {
        border-radius: 50%;
    }
}

header img:hover {
    border: 10px solid #57648C;
    transition: 1.5s;
}

.icon {
    width: 40px;
    font-size: 1.5em;
    margin-inline: 6px;
    color: black;
    text-decoration: none;
}

main {
    margin: 20px;
    padding: 40px;
}

h2 {
    margin-top: 60px;
    margin-bottom: 30px;
}

#skill-bars {
    margin-top: 40px;
}

#about-me {
    margin-top: 20px;
}

.skills span {
    color: #336c6f;
    border: 1px solid #336c6f;
    padding: 5px 10px;
    margin: 10px 5px;
    display: inline-block;
    border-radius: 8px;
    font-size: 0.9em;
}

#companies {
    text-align: left;
    width: 350px;
    margin: 0 auto;
    padding-left: 0;
}

.space {
    margin-top: 30px;
}

.lorem {
    text-indent: 50px;
    text-align: justify;
}

.container-2 {
    min-width: 80%;
}

.container-3 {
    min-width: 100%;
}

.progress {
    margin: 2%;
    --bs-progress-bar-transition: width 2s ease;
}

.progress-bar {
    background-color: #336c6f;
}

.navbar-toggler {
    color: rgba(0, 0, 0, 0);
}

@media (min-width: 992px) {
    .container {
        max-width: 700px;
    }
}

@media (max-width: 992px) {

    main {
        padding: 20px;
    }

    .lorem {
        text-indent: 25px;
    }

    #companies {
        width: 80%;
    }
}